html				{ font-family: "helvetica neue", helvetica, sans-serif; margin: 0; padding: 0; }
body				{ background: #66c0d5; margin: 0; padding: 0; }

.audioPlayer		{ border: 1px solid #177f98; height: 46px; margin: 200px auto; padding: 0 10px; width: 385px;

						background-color: #f5f5f5;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#bee6fa));
						background-image: -webkit-linear-gradient(top, #f5f5f5, #bee6fa); 
						background-image: -moz-linear-gradient(top, #f5f5f5, #bee6fa); 
						background-image: -ms-linear-gradient(top, #f5f5f5, #bee6fa); 
						background-image: -o-linear-gradient(top, #f5f5f5, #bee6fa);
						background-image: linear-gradient(to bottom, #f5f5f5, #bee6fa);

						-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff, 0 0 0 5px #3aa0b9;
						-moz-box-shadow: inset 0px 0px 0px 1px #ffffff, 0 0 0 5px #3aa0b9;
						box-shadow: inset 0px 0px 0px 1px #ffffff, 0 0 0 5px #3aa0b9; 
						
						-webkit-border-radius: 25px;
						-moz-border-radius: 25px; 
						border-radius: 25px; 
						
						-moz-background-clip: padding; 
						-webkit-background-clip: padding-box; 
						background-clip: padding-box;
					}

.audioPlayer ul		{ list-style: none; margin: 0; padding: 0; }
.audioPlayer ul li	{ display: inline-block; margin: 0; padding: 0; vertical-align: middle; }
.audioPlayer a		{ display: inline-block; height: 30px; text-indent: -10000px; width: 24px;  }

.audioPlayer .play		{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAaCAIAAAASURqFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhJREFUeNpiWnj89v///5kYwGCoUAABBgC75AV1iBJ/twAAAABJRU5ErkJggg==) no-repeat right center; margin: 0 10px 0 0; padding: 0 10px 0 0;}
.audioPlayer .play a 	{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANpJREFUeNpi5MtqzmRgYGAG4ukfp9b8ZSAAmBgYmfiBeDIQX+LPaXMlrIGJiQGKtYB4F39exzogVsGpgZEJZAkKDgTiqwIFXe1AzIOpgRmoCBOzAXEFEN8WLO5JwOUkbFgCiOcLlvadBGIzkAYWRmZmBiIASPFJoYqJC4jVAANsLEwgqwmDs0Cc9bo56xQLEzNeDS+AuOZlQ8ZcmAALI3YbfgHxFCCuf1GX9gVZApuTtgJxwbOalDvYTEK24RoQFz+tStqBz40sjIyMH0EKQU54Upn4i5DvAQIMAJDUMkE0DKsOAAAAAElFTkSuQmCC) no-repeat center center; }
.audioPlayer .stop a		{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADdJREFUeNpi5MtqZiAOsDAwMhGtlIlopYwkKGWmiQOYmWmglIl4BzAx0yKwmGgTBYyMRCoFCDAA204BdQgsd1oAAAAASUVORK5CYII=) no-repeat center center;  }
.audioPlayer .stop a:hover,
.audioPlayer .play a:hover	{ background-color: #c6e9fb; 

							-webkit-border-radius: 3px; 
							-moz-border-radius: 3px; 
							border-radius: 3px; 
							
							-moz-background-clip: padding;
							-webkit-background-clip: padding-box;
							background-clip: padding-box;
						}

.audioPlayer .progress	{ color: #4b585c; font-size: 10px; height: 14px; margin: 0 15px 0 0; padding: 17px 0; text-shadow: 0 1px 0 #fff; }
.audioPlayer .progress span 	{ background: #acc8cf; display: inline-block; height: 8px; margin: 0 10px 0 0; position: relative; width: 255px; 

								-webkit-border-radius: 5px; 
								-moz-border-radius: 5px; 
								border-radius: 5px; 
								
								-moz-background-clip: padding;
								-webkit-background-clip: padding-box;
								background-clip: padding-box;

								-webkit-box-shadow: inset 0px 1px 0px 0px #8aa0a6, 0px 1px 0px 0px #fff;
								-moz-box-shadow: inset 0px 1px 0px 0px #8aa0a6, 0px 1px 0px 0px #fff;
								box-shadow: inset 0px 1px 0px 0px #8aa0a6, 0px 1px 0px 0px #fff; 
							}
.audioPlayer .progress span span	{ background: #19a0c1; display: block; position: absolute; width: 145px; 
								-webkit-box-shadow: 0px 1px 0px 0px #fff;
								-moz-box-shadow: 0px 1px 0px 0px #fff;
								box-shadow:  0px 1px 0px 0px #fff; 
							}	
