html				{ font-family: "lucida grande", sans-serif; margin: 0; padding: 0; }
body				{ background: #f2f2f2 ; margin: 0; padding: 0; }

.advert				{ background: #fff; border: 1px solid #dadada; margin: 200px auto; padding: 10px; width: 180px;
						background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); 
						background-image: -webkit-linear-gradient(top, #ffffff 33%, #e8e8e8); 
						background-image:    -moz-linear-gradient(top, #ffffff 33%, #e8e8e8); 
						background-image:     -ms-linear-gradient(top, #ffffff 33%, #e8e8e8); 
						background-image:      -o-linear-gradient(top, #ffffff 33%, #e8e8e8); 
						background-image:         linear-gradient(top, #ffffff 33%, #e8e8e8);
					}
.advert h2			{ color: #1a1a1a; font-size: 14px; margin: 0 0 10px; padding: 0; }
.advert img			{ display: block; margin: 10px auto 0;}
.advert p			{ color: #666666; font-size: 11px; margin: 0 0 3px; padding: 0; }
.advert a			{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADpJREFUeNpiZEg785+BgYHx/0xjBhBgYoCA/4zpZ8EMRqgKGGBkYkAF/9EFGNAFULQwIqtghIkCBBgAGbMJdOA7jnQAAAAASUVORK5CYII=) no-repeat right center; color: #0066cc; display: inline-block; font-weight: normal; padding: 0 10px 0 0; text-decoration: none; }
.advert a:hover, 
.advert a:active,
.advert a:focus		{ padding: 0 15px 0 0; }