html	{ margin: 0; padding: 0;}
body 	{ background: #f5f5f5; }
#main	{ margin: 200px auto; text-align: center; width: 400px; }

.bookmarkRibbon	{ background: #000; color: #fff; display: inline-block; font-family: georgia, serif; margin: 0 1px 0 0; padding: 25px 10px 40px; position: relative; text-align: center; text-shadow: 0 1px 0px rgba(0,0,0,0.4); vertical-align: top; width: 12px;}
.red	{ background-image: linear-gradient(to bottom, #fd0000, #b42a2a); border-top: 1px solid #b42a2a; }
.orange	{ background-image: linear-gradient(to bottom, #ff5b18, #fd2f0c); border-top: 1px solid #fd2f0c; }
.yellow	{ background-image: linear-gradient(to bottom, #ffc200, #ffa800); border-top: 1px solid #ffa800; }
.green	{ background-image: linear-gradient(to bottom, #8dba19, #4f820f); border-top: 1px solid #4f820f; }
.blue	{ background-image: linear-gradient(to bottom, #32bae8, #2081b4); border-top: 1px solid #2081b4; }
.purple	{ background-image: linear-gradient(to bottom, #7f24af, #5a3f70); border-top: 1px solid #5a3f70; }
.black	{ background-image: linear-gradient(to bottom, #4b4b4b, #161616); border-top: 1px solid #161616; }

.bookmarkRibbon:after 	{ border-bottom: 15px solid #f5f5f5; border-left: 16px solid transparent; border-right: 16px solid transparent; bottom: 0; content: " "; left: 0; position: absolute; }
.bookmarkRibbon:before 	{ background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABpJREFUeNpiEBMTS/v//z8D08uXLxlAACDAAEDRBmPjUm2wAAAAAElFTkSuQmCC) repeat-x 0 3px; content: " "; left: 0; height: 5px; position: absolute; top: 0; width: 100%; }
